body {
    background-color: #fdfd96;
    /* background-color: #fdca96; */
}
.jumbo {
    background-color: #9b99cb;
    color: #fff;
    border-bottom: solid 4px rgb(75, 73, 73);
}

.myPic {
    max-width: 20px;
    max-height: 20px;
    
}

.myBtn {
    position: absolute;
    top: 1px;
    right: 1px;
}

.list-group-item {
    /* padding: 0.25rem; */
}

.myGroupItem {
    position: relative;
    display: block;
    padding: 0.25rem;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 5px;
    min-width: 10rem;
    max-width: 384px;
}